---
import GitHubIcon from "../assets/github-icon.astro";
---

<nav id="nav">
    <ul class="nav-list">
        <li class="icon-container">
            <img class="icon" src="/icon.webp" alt="Logo de united nerds">
            <span>United nerds</span>
        </li>
        <li class="nav-links">
            <a href="/">Inici</a>
            <a href="https://github.com/Magiclovekorean/United-nerds" target="_blank" rel="noopener noreferrer">Contribueix <GitHubIcon/></a>
            <a href="mailto:magiclovett@gmail.com">Contactar</a>
        </li>
    </ul>
</nav>
<hr>